body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 15% 65% 10%;

}

.budowa{
    font: italic normal bold 15px/27px Roboto;
    letter-spacing: 0px;
    color: #244066;
    opacity: 0.92;
    align-self: center;
    margin-left: 3em;
}

.tresc
{
    display: grid;
    width: 95%;
    height: 95%;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-items: center;
}
.popup
{
    height: 100%;
}

.img_admiralicji
{
    background-image: url("../img/Image 6.png");
}
.img_brucea
{
    background-image: url("../img/Image 8.png");
}
.img_czterolap
{
    background-image: url("../img/Image 10.png");
}
.img_plugowa
{
    background-image: url("../img/Image 9.png");
}
.img_danfortha
{
    background-image: url("../img/Image 7.png");
}

.opis
{
    font: normal normal normal 18px/28px Roboto;
    color: #4B6280;

}

.img_admiralicji,.img_brucea,.img_czterolap,.img_plugowa,.img_danfortha
{
    height: 80%;
    width: 40%;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.back {
    display: flex;
    align-items:flex-start;
    justify-content: flex-end;
}
.button_back {
    font: italic normal bold 18px/24px Roboto;
    letter-spacing: 0px;
    color: #4B6280;
    opacity: 0.87;
    background-color: transparent;
    border: 0px solid transparent;
    margin-right: 2em;
}


.repeated {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .popuptext {
    visibility: hidden;
    width: 20em;
    background-color: #9A9DA0;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -150px;
}

.popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
@media only screen and (max-device-width: 420px)
{

    .container {
        width: 96vw;
        height: 100vh;
        display: grid;
        padding: 2em 2em 2em 2em;
        grid-template-rows: 10% 10% 70% 10%;
    }

    .menu {

        background:#FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 0px #FFFFFF;
        border: 0px solid #FFFFFF;
        border-radius: 0px;
    }

    .back-to-main {
        display: flex;
        align-items: center;
        height: 80%;
    }

    .account {

        display: flex;
        justify-content: space-between;
        width: 30%;
        opacity: 0.92;

    }

    .tresc
    {
        width: 100%;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2,1fr);
    }

    .img_admiralicji,.img_brucea,.img_czterolap,.img_plugowa,.img_danfortha {
        height: 80%;
        width: 80%;
    }

    .popuptext
    {
        width: 17em;
        height: 10em;
        font: normal normal normal 28px/34px Roboto;
        margin-left: -250px;
    }

    .button {
        font-size: 0;
    }

    .fas{
        font-size: 95px;
        color: #8F9090;

    }

    .budowa {
        font: italic normal bold 30px/40px Roboto;
        letter-spacing: 0px;
        margin-left: 0;
    }


    .back {

        align-items:center;

    }

    .button_back {
        font: italic normal bold 25px/34px Roboto;

    }


}