body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;

    display: flex; /*rozmieszczenie elementów w wierszach lub kolumnach */
    flex-direction: row; /*rozmieszczenie wierszowe*/
    justify-content: center;
    align-items: center; /*wysrodkowanie*/


}

.photo {
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.photo>img {
    height: 100%;
    width: 100%;
}


.login-container
{
    width: 50%;
    height: 80%;
    display: grid;
    grid-template-rows: 20% 5% 75%;
    justify-items: center;
    align-items: center;

}

.logo {
    margin-left: 3em;
    width: 80%;
    height: 100%;
    background-image: url("../img/onboard.svg");
    background-repeat: no-repeat;
    background-size: 90%;
}
.vademecum
{
    display: flex;
    justify-items: center;
}

h1
{
    align-self: center;
    width: 100%;
    font: normal normal bold 20px/30px Roboto;
    color: #244066;
}

form.register {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 64%;
    height: 40vh;
    background: rgb(230, 230, 230) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 41px;
    opacity: 0.74;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 60%;
}

.button
{
    height: 20%;
    display: flex;
    justify-content: space-evenly;
}


button {

    width: 30%;
    height: 55%;
    background: #244066 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 38px;
    color: white;



}

input {

    margin-top: 0%;
    width: 75%;
    height: 20%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #707070BD;
    border-radius: 25px;
    opacity: 0.93;
}

.messages
{
    align-self: center;
    height: 10%;
}

.no-valid {
    border: 3px solid red;
    border-radius: 1em;
    box-shadow: 0 0 0.2em red;
    outline: none;
}

@media only screen and (max-device-width: 420px)
{
    .photo {
        display: none;
    }
    .container {
        justify-content: center;
        background-image: url("../img/login.svg");
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
    }

    .login-container {
        height: 95%;
        display: grid;
        grid-template-rows: 20% 5% 75%;
        justify-content: space-evenly;
        width: 90%;
        align-self: center;
    }

    .logo
    {
        margin-left: 6em;
        width: 100%;
        height: 100%;
    }

    h1{
        display: none;
    }


    form
    {
        margin:auto;
    }

    form.register {

        display: flex;
        justify-content: flex-start;
        width: 100vw;
        height: 60vh;
        box-shadow: 0px 0px 0px 0px transparent;
        background-color: transparent;
        opacity: 0.9;

    }

    .inputs
    {
        height: 100%;
        background-color: transparent;
    }
    button {

        background:0;
        background-color: transparent;
        box-shadow: 0px 0px 0px 0px transparent;
        border: 0;
        border-radius: 0;
        height: 55%;
        color: #001335;
        font: normal normal normal 40px/45px Roboto;

    }

    input {
        width: 60vw;
        height: 10vw;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 25px;
        font: normal normal normal 35px/45px Roboto;
        letter-spacing: 0px;
        color: #223B5F;
        opacity: 1;
    }

    .photo>img {
        display: none;
    }


}
