body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 15% 50% 13% 12%;

}

.menu {

    background: #3C5576 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 22px;
    opacity: 0.92;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button_nav
{

    font: normal normal normal 17px/27px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 0.92;
    margin-left: 1.3em;
}

.test-buttons {
    display: flex;
    justify-content: center;
}

.button {
    font: normal normal normal 17px/27px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 0.92;
    align-items: flex-end;
    margin-right: 1.3em;
}

.test-end {
    display: grid;
    justify-content: flex-end;
    margin-right: 2em;
}

.button-end {

    font: italic normal bold 22px/29px Roboto;
    letter-spacing: 0px;
    color: #244066;
    text-shadow: 0px 3px 6px #00000029;
    opacity: 0.92;

}
.test-menu {
    font: italic normal bold 15px/27px Roboto;
    letter-spacing: 0px;
    color: #244066;
    opacity: 0.92;
    align-self: center;
    margin-left: 3em;
}

.question
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.img {

    height: 50%;
    width: 20%;
    background-image: url("../img/test.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 0px 7px 6px #00000029;
    border-radius: 31px;
    opacity: 1;


}

h2 {
    font: italic normal bold 26px/34px Roboto;
    letter-spacing: 0px;
    color: #033E6A;
}

ol li {
    cursor: pointer;
}

ol li:hover {
    background: #ddd;
}



li {

    font: normal normal medium 44px/52px Roboto;
    margin-top: 1em;
    letter-spacing: 0px;
    color: #033E6A;
    text-shadow: 0px 3px 6px #00000029;

}

.test-buttons {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.buttonm {

    font: italic normal bold 18px/24px Roboto;
    letter-spacing: 0px;
    color: #4B6280;
    opacity: 0.87;
}

a {
    text-decoration: none;
}

@media only screen and (max-device-width: 420px)
{

    .container {

        display: grid;
        grid-template-rows: 10% 8% 74% 8%;

    }

    .menu {

        background:#FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 0px #FFFFFF;
        border: 0px solid #FFFFFF;
        border-radius: 0px;
    }

    .account {
        display: flex;
        justify-content: space-evenly;
        width: 27%;

    }
    .button {
        font-size: 0;
    }

    .fas{
        font-size: 65px;
        color: #3C5576;

    }

    .test-menu {
        display: flex;
        font: italic normal bold 35px/45px Roboto;
        letter-spacing: 0px;
        margin-left: 2em;
    }

    .question {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .img {

        height: 40%;
        width: 75%;
    }

    .answers {
        margin-top: 1em;
        height: 50%;
        width: 90%;
        margin-left: 1em;
        font: italic normal bold 40px/50px Roboto;
    }

    li {
        margin: 90px 0;
    }

    h2 {
        margin-bottom: 2em;
        font: italic normal bold 50px/60px Roboto;
    }

    .test-buttons {

        display: flex;
        justify-content: space-between;
        background: #3C5576 0% 0% no-repeat padding-box;
        box-shadow: 0px -6px 6px #00000029;
        border: 1px solid #707070;
        border-radius: 22px;
        opacity: 0.90;

    }


    .buttonm {
        margin-left: 2.5em;
        margin-right: 2.5em;
        font: italic normal bold 35px/45px Roboto;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 0.87;
    }

}